@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--textColour);
  font-family: "Varela Round", sans-serif;
}

:root {
  --colourPrimary: #9f3647;
  --colourSecundary: #181419;
  --textColour: white;
}

/* Edicion del scroll vertical*/
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--colourPrimary);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--colourSecundary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5e1f29;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

a {
  text-decoration: none;
  color: var(--textColour);
}

/*Queda para cambiar, use bootstrap */


/*propiedades de imagen */
.bloque-proyecto {
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}

.bloque-proyecto img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

.imagenTendencia {
  display: block;
}

.efecto-imagen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1.5s ease;
  background-color: #c3ac76;
}

.texto-imagen {
  color: white;
  font-size: 2.5vw; /* Cambiado a vw para hacerlo reactivo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bloque-proyecto:hover .efecto-imagen {
  opacity: 0.8;
}

h1 {
  font-size: 4vw; /* Cambiado a vw para hacerlo reactivo */
  font-weight: 700;
}

h2 {
  font-size: 2vw; /* Cambiado a vw para hacerlo reactivo */
  font-weight: 400;
}

h3,
h4,
h5 {
  font-size: 2.5vw; /* Cambiado a vw para hacerlo reactivo */
  font-weight: 700;
  text-align: center;
}

.linea {
  border: 0.2vw solid var(--colourPrimary); /* Cambiado a vw para hacerlo reactivo */
  width: 80%;
  margin: auto;
  margin-top: 3vw; /* Cambiado a vw para hacerlo reactivo */
  opacity: 1;
}

.botones-container {
  text-align: center;
}

.boton {
  border: 0.1vw solid var(--textColour); /* Cambiado a vw para hacerlo reactivo */
  background-color: var(--colourPrimary);
  padding: 1vw; /* Cambiado a vw para hacerlo reactivo */
  border-radius: 4px;
  margin: 5vw 2vw; /* Cambiado a vw para hacerlo reactivo */
  transition: transform 0.4s, box-shadow 0.4s;
}

.boton:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 1vw rgba(219, 198, 198, 0.815); /* Cambiado a vw para hacerlo reactivo */
}

main {
  background-color: var(--colourSecundary);
  margin-top: 80px;
}

.principal {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vw; /* Cambiado a vw para hacerlo reactivo */
  background-image: url(/assets/img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #181419a1;
}

.principal h1,
.principal h2 {
  text-align: center;
  margin: 0 0 2vw; /* Cambiado a vw para hacerlo reactivo */
}

.principal h1 {
  margin-bottom: 4vw; /* Cambiado a vw para hacerlo reactivo */
}

.principal .botonRegistro {
  font-size: 1.5vw; /* Cambiado a vw para hacerlo reactivo */
  text-decoration: none;
  background-color: var(--colourPrimary);
  color: var(--textColour);
  padding: 0.5vw 2vw; /* Cambiado a vw para hacerlo reactivo */
  margin-top: 4vw; /* Cambiado a vw para hacerlo reactivo */
  border-radius: 4px;
  transition: transform 0.4s, box-shadow 0.4s;
}

.principal .botonRegistro:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 1vw rgba(219, 198, 198, 0.815); /* Cambiado a vw para hacerlo reactivo */
}

.busqueda {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3vw; /* Cambiado a vw para hacerlo reactivo */
}

.busqueda form {
  margin-bottom: 2vw; /* Cambiado a vw para hacerlo reactivo */
}

.busqueda .buscador {
  border: 0.1vw solid white; /* Cambiado a vw para hacer

lo reactivo */
  border-radius: 2vw; /* Cambiado a vw para hacerlo reactivo */
  color: var(--colourPrimary);
  font-size: 2vw; /* Cambiado a vw para hacerlo reactivo */
  height: 4.5vw; /* Cambiado a vw para hacerlo reactivo */
  margin: 2vw 1vw; /* Cambiado a vw para hacerlo reactivo */
  outline: none;
  padding: 2vw; /* Cambiado a vw para hacerlo reactivo */
  width: 30vw; /* Cambiado a vw para hacerlo reactivo */
}

.busqueda .botonBuscar {
  border-radius: 2vw; /* Cambiado a vw para hacerlo reactivo */
  background-color: var(--colourPrimary);
  border: 0.2vw solid white; /* Cambiado a vw para hacerlo reactivo */
  font-size: 1.1vw; /* Cambiado a vw para hacerlo reactivo */
  font-weight: 800;
  /* padding: 0 2vw; Cambiado a vw para hacerlo reactivo */
  height: 4.5vw; /* Cambiado a vw para hacerlo reactivo */
  width: 7vw; /* Cambiado a vw para hacerlo reactivo */
  transition: transform 0.4s, box-shadow 0.4s;
}

.busqueda .botonBuscar:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 1vw rgba(219, 198, 198, 0.815); /* Cambiado a vw para hacerlo reactivo */
}

.tendencias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20vh 0; /* Cambiado a vh para hacerlo reactivo */
  gap: 5vw; /* Cambiado a vw para hacerlo reactivo */
}

.tendencias h4 {
  text-align: center;
  margin: 1.5vw 0; /* Cambiado a vw para hacerlo reactivo */
  font-size: 2.5vw; /* Cambiado a vw para hacerlo reactivo */
  margin-bottom: 1vw; /* Cambiado a vw para hacerlo reactivo */
}

.tendencias .peliculas {
  gap: 5vw; /* Cambiado a vw para hacerlo reactivo */
}

.tendencias .pelicula {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 20vw; /* Cambiado a vw para hacerlo reactivo */
  height: 30vw; /* Cambiado a vw para hacerlo reactivo */
  border-radius: 3vw; /* Cambiado a vw para hacerlo reactivo */
}

.tendencias .pelicula .imagenTendencia {
  max-width: 100%;
  height: auto;
}

.tendencias .pelicula .tituloDePelicula {
  z-index: 2;
  position: absolute;
  text-align: center;
  max-width: 20vw; /* Cambiado a vw para hacerlo reactivo */
  transform: translateY(-50%);
}

.tendencias .boton {
  border: 0.1vw solid white; /* Cambiado a vw para hacerlo reactivo */
  border-radius: 1vw; /* Cambiado a vw para hacerlo reactivo */
  padding: 2vw; /* Cambiado a vw para hacerlo reactivo */
  color: var(--textColour);
  background-color: var(--colourPrimary);
  font-size: 1vw; /* Cambiado a vw para hacerlo reactivo */
  margin: 5vw 1vw; /* Cambiado a vw para hacerlo reactivo */
  outline: none;
  width: 3vw; /* Cambiado a vw para hacerlo reactivo */
}

/* -- SECCION CLASICOS DEL CINE -- */

.clasicos .titulo-clasicos {
  margin: 1.5vw auto; /* Cambiado a vw para hacerlo reactivo */
}

.scroll-container {
  width: 70%;
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
}

.imagenes {
  display: inline-block;
  margin: 1.5vw auto; /* Cambiado a vw para hacerlo reactivo */
}

.imagenes img {
  width: auto;
  height: 20vw; /* Cambiado a vw para hacerlo reactivo */
  margin-right: 1vw; /* Cambiado a vw para hacerlo reactivo */
  border-radius: 2vw; /* Cambiado a vw para hacerlo reactivo */
}

/* Edicion para el scroll de clasicos*/
.scroll-container::-webkit-scrollbar {
  height: 0.8vw; /* Cambiado a vw para hacerlo reactivo */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--colourPrimary);
  border-radius: 1.2vw; /* Cambiado a vw para hacerlo reactivo */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #5e1f29;
}

/* -- FIN SECCION -- */

/* Media Queries */

/* Para dispositivos de tama침o peque침o, como smartphones en orientaci칩n vertical */
@media only screen and (max-width: 480px) {
  header {
    height: 15vh;
  }

  .navbar ul {
    margin-left: 2vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .navbar ul li {
    margin-right: 5vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .principal {
    padding: 5vw; /* Cambiado a vw para hacerlo reactivo */

    h1 {
      font-size: 10vw; /* Cambiado a vw para hacerlo reactivo */
      margin-bottom: 7vw; /* Cambiado a vw para hacerlo reactivo */
    }

    h2 {
      font-size: 5vw;
    }

    .botonRegistro {
      margin-top: 7vw; /* Cambiado a vw para hacerlo reactivo */
      font-size: 4vw;
      font-weight: 600;
    }
  }

  .busqueda {
    height: auto;
    justify-content: center;

    h3 {
      margin-bottom: 6vw;
      margin-top: 4vw;
      font-size: 8vw;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .buscador {
        width: 80vw;
        height: 7vw;
        font-size: 5vw;
        margin: 20px 0;
      }
    }

    .botonBuscar {
      width: 20vw;
      font-size: 4vw;
      font-weight: 500;
      height: 7vw;
      margin-top: 10px;
      margin-right: 20px;
    }
  }

  h4 {
    margin-bottom: 4vw;
    margin-top: 4vw;
    font-size: 9vw;
  }

  .imagenes img {
    height: 15vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .boton {
    padding: 1.5vw; /* Cambiado a vw para hacerlo reactivo */
    font-size: 0.8vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .tendencias {
    margin: 10vh 0; /* Cambiado a vh para hacerlo reactivo */
  }

  .botones-container {
    display: none;
  }

  .clasicos {
    .titulo-clasicos {
      margin: 4vw auto;
      font-size: 9vw;
    }
  }
  .scroll-container {
    width: 100vw;
  }

  .imagenes {
    margin: 5vw auto;
  }

  .imagenes img {
    height: 130vw;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--colourSecundary);
    border-radius: 6px;
  }
}

/* Para tabletas y dispositivos de tama침o mediano */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .navbar ul {
    margin-left: 5vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .navbar ul li {
    margin-right: 8vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .principal {
    padding: 7vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .busqueda {
    padding: 2.5vw; /* Cambiado a vw para hacerlo reactivo */
  }

  form {
    .buscador {
      width: 40vw; /* Cambiado a vw para hacerlo reactivo */
      max-width: 25vw; /* Cambiado a vw para hacerlo reactivo */
    }

    .botonBuscar {
      max-width: 10vw; /* Cambiado a vw para hacerlo reactivo */
    }
  }

  .boton {
    margin: 3vw; /* Cambiado a vw para hacerlo reactivo */
    padding: 2vw; /* Cambiado a vw para hacerlo reactivo */
  }

  .tendencias {
    margin: 15vh 0; /* Cambiado a vh para hacerlo reactivo */
  }
}
